{% extends 'concesionario/base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% load bootstrap_icons %}

{% block title %}Buscar Empleado - AlphaAutos{% endblock %}

{% block cabecera %}
<h1 class="text-center mt-3">Buscar empleados</h1>
{% endblock %}

{% block content %}
<h3>Rellena el formulario para buscar empleados en la base de datos.</h3>   

<form method="get" action="{% url 'AlphaAutos:buscar_empleados' %}" class="mt-4">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button class="btn btn-primary" type="submit">Buscar Empleados</button>
</form>
{% endblock %}