{% extends 'concesionario/lista_empleados.html' %}

{% block title %}Buscar Empleado - AlphaAutos{% endblock %}

{% block cabecera %}
<h1 class="text-center mt-3">Buscar empleados</h1>
{% endblock %}

{% block content %}
    {% if empleados %}
        <h3>Se han encontrado {{ empleados|length }} empleado(s) que coinciden con los criterios de búsqueda.</h3>
        <table class="table table-striped mt-4">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Puesto</th>
                    <th>Concesionario</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for empleado in empleados %}
                <tr>
                    <td>{{ empleado.id }}</td>
                    <td>{{ empleado.nombre }}</td>
                    <td>{{ empleado.puesto }}</td>
                    <td>{{ empleado.concesionario.nombre }}</td>
                    <td>
                        <a class="btn btn-sm btn-outline-primary me-2 text-nowrap" href="{% url 'AlphaAutos:empleado_detail' empleado.id %}">Ver en detalle</a>
                        <a class="btn btn-sm btn-outline-secondary text-nowrap" href="{% url 'AlphaAutos:editar_empleado' empleado.id %}">Editar</a>
                        <a class="btn btn-sm btn-outline-danger ms-2 text-nowrap" href="{% url 'AlphaAutos:eliminar_empleado' empleado.id %}" onclick="return confirm('¿Estás seguro de que deseas eliminar este empleado?');">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h3>No se han encontrado empleados que coincidan con los criterios de búsqueda.</h3>
    {% endif %}
{% endblock %}

