/* Reset básico */
body, h1, h2, p, ul, li, table, th, td {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fuente y fondo general */
html, body {
    height: 100%; /* para que flexbox funcione */
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
    display: flex;
    flex-direction: column; /* columna vertical */
    min-height: 100vh;      /* altura mínima 100% de la ventana */
}

/* Cabecera y navegación */
header {
    background-color: #969494;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo img {
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Main crece para ocupar espacio */
main {
    flex: 1;
}

/* Pie de página */
footer {
    background-color: #969494;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #999;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #eee;
}
