{% extends 'concesionario/lista_clientes.html' %}

{% block title %}Buscar Cliente - AlphaAutos{% endblock %}

{% block cabecera %}
<h1 class="text-center mt-3">Resultados de la búsqueda de cliente</h1>
{% endblock %}

{% block content %}
    {% if clientes %}
        <h3>Se han encontrado {{ clientes|length }} cliente(s) que coinciden con los criterios de búsqueda.</h3>
        <table class="table table-striped mt-4">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Teléfono</th>
                    <th>Ultimo Login</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for cliente in clientes %}
                <tr>
                    <td>{{ cliente.usuario.id }}</td>
                    <td>{{ cliente.usuario.username }}</td>
                    <td>{{ cliente.usuario.email }}</td>
                    <td>{{ cliente.telefono }}</td>
                    <td>{{ cliente.usuario.last_login }}</td>
                    <td>
                        {% if perms.AlphaAutos.view_cliente %}
                            <a class="btn btn-sm btn-outline-primary me-2 text-nowrap" href="{% url 'AlphaAutos:cliente_detail' cliente.id %}">Ver en detalle</a>
                        {% endif %}
                        {% if perms.AlphaAutos.change_cliente %}
                            <a class="btn btn-sm btn-outline-secondary text-nowrap" href="{% url 'AlphaAutos:editar_cliente' cliente.id %}">Editar</a>
                        {% endif %}
                        {% if perms.AlphaAutos.change_cliente %}
                            <a class="btn btn-sm btn-outline-warning text-nowrap" href="{% url 'AlphaAutos:cambiar_password_cliente' cliente.id %}">Cambiar contraseña</a>
                        {% endif %}
                        {% if perms.AlphaAutos.delete_cliente %}
                            <a class="btn btn-sm btn-outline-danger ms-2 text-nowrap" href="{% url 'AlphaAutos:eliminar_cliente' cliente.id %}" onclick="return confirm('¿Estás seguro de que deseas eliminar este cliente?');">Eliminar</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h3>No se han encontrado clientes que coincidan con los criterios de búsqueda.</h3>
    {% endif %}
{% endblock %}
