{% extends 'concesionario/base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% load bootstrap_icons %}

{% block title %}Crear Cliente - AlphaAutos{% endblock %}

{% block cabecera %}
<h1>Crear Nuevo Cliente</h1>
{% endblock %}

{% block content %}
<h3>Rellena el formulario para añadir un nuevo cliente a la base de datos.</h3>

<form action="{% url 'AlphaAutos:crear_cliente' %}" method="post" class="mt-4">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-primary">Crear Cliente</button>
</form>
{% endblock %}



