{% extends 'concesionario/base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% load bootstrap_icons %}

{% block title %}Editar Cliente - AlphaAutos{% endblock %}

{% block cabecera %}
<h1 class="text-center mt-3">Editar cliente</h1>
{% endblock %}

{% block content %}
<h3>Rellena el formulario para editar el cliente en la base de datos.</h3>

<form method="post" action="{% url 'AlphaAutos:editar_cliente' cliente.id %}" class="mt-4">
    {% csrf_token %}
    {% bootstrap_form formulario %}

    <button class="btn btn-primary" type="submit">Guardar Cliente</button>
</form>

{% if messages %}
  <ul class="mt-3">
    {% for message in messages %}
      <li class="alert alert-{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
{% endblock %}
