<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}AlphaAutos{% endblock %}</title>
    {% load static %}
    {% load django_bootstrap5 %}
    {% load bootstrap_icons %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'concesionario/css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <script src="{% static 'concesionario/js/script.js' %}" defer></script>
</head>
<body>
    {% include 'concesionario/nav.html' %}

    <div class="container">
        {% block cabecera %}{% endblock %}
    </div>

    <main class="container">
        <br>
        {% bootstrap_messages %}
        {% block content %}{% endblock %}
    </main>

    {% include 'concesionario/footer.html' %}

    {% bootstrap_javascript %}

</body>
</html>

