<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}AlphaAutos{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'concesionario/css/style.css' %}">
    <script src="{% static 'concesionario/js/script.js' %}" defer></script>
</head>
<body>
    {% include 'concesionario/nav.html' %}

    {% block cabecera %}{% endblock %}

    <main>
        {% block content %}{% endblock %}
    </main>

    {% include 'concesionario/footer.html' %}
</body>
</html>
