{% extends 'concesionario/base.html' %}

{% block title %}Detalle Cliente{% endblock %}

{% block cabecera %}
<h1>Detalle del Cliente</h1>
{% endblock %}

{% block content %}

{% if cliente %}
    <div class="mb-3">
        <a class="btn btn-sm btn-outline-secondary" href="{% url 'AlphaAutos:editar_cliente' cliente.id %}">Editar</a>
        <a class="btn btn-sm btn-outline-warning text-nowrap" href="{% url 'AlphaAutos:cambiar_password_cliente' cliente.id %}">Cambiar contraseña</a>
        <a class="btn btn-sm btn-outline-danger text-nowrap" href="{% url 'AlphaAutos:eliminar_cliente' cliente.id %}" onclick="return confirm('¿Estás seguro de que deseas eliminar?');">Eliminar</a>
    </div>

    <table border="1">
        <tr>
            <th>ID</th>
            <td>{{ cliente.usuario.id }}</td>
        </tr>
        <tr>
            <th>Nombre</th>
            <td>{{ cliente.usuario.username }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ cliente.usuario.email }}</td>
        </tr>
        <tr>
            <th>Teléfono</th>
            <td>{{ cliente.telefono }}</td>
        </tr>
        <tr>
            <th>Último acceso</th>
            <td>{{ cliente.usuario.last_login }}</td>
        </tr>
    </table>
    <br>
    <a href="{% url 'AlphaAutos:lista_clientes' %}" class="btn btn-secondary">Volver a la lista de clientes</a>
    <br>
{% else %}
    <p>No se encontró el cliente.</p>
{% endif %}
{% endblock %}
