{% extends 'concesionario/base.html' %}
{% load django_bootstrap5 %}
{% load bootstrap_icons %}

{% block title %}Listado de Coches{% endblock %}

{% block cabecera %}
<h1>Listado de Coches</h1>
{% endblock %}

{% block content %}

<table border="1">
    <tr>
        <th>ID</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Precio (€)</th>
        <th>Concesionario</th>
        <th>Acciones</th>
    </tr>
    {% for coche in coches %}
        {% include 'concesionario/for_row_coche.html' with coche=coche %}   
    {% empty %}
        <tr><td colspan="6">No hay coches registrados.</td></tr>
    {% endfor %}
</table>
<br>
<p><a href="{% url 'AlphaAutos:index' %}" class="btn btn-secondary">Volver al inicio</a></p>
<br>
{% endblock %}
