{% extends 'concesionario/base.html' %}

{% block title %}Coches fabricados en {{ mes }}/{{ anio }}{% endblock %}

{% block cabecera %}
<h1>Coches fabricados en {{ mes }}/{{ anio }}</h1>
{% endblock %}

{% block content %}
<table border="1">
    <tr>
        <th>ID</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Precio (€)</th>
        <th>Concesionario</th>
    </tr>
    {% for coche in coches %}
        {% include 'concesionario/for_row_coche.html' with coche=coche %}
    {% empty %}
        <tr><td colspan="5">No hay coches fabricados en esa fecha.</td></tr>
    {% endfor %}
</table>
{% endblock %}

