{% extends 'concesionario/base.html' %}

{% block title %}Detalle Empleado{% endblock %}

{% block cabecera %}
<h1>Detalle del Empleado</h1>
{% endblock %}

{% block content %}
{% if empleado %}
    <div class="mb-3">
        <a class="btn btn-sm btn-outline-secondary" href="{% url 'AlphaAutos:editar_empleado' empleado.id %}">Editar</a>
        <a class="btn btn-sm btn-outline-danger text-nowrap" href="{% url 'AlphaAutos:eliminar_empleado' empleado.id %}" onclick="return confirm('¿Estás seguro de que deseas eliminar?');">Eliminar</a>
    </div>

    <table border="1">
        <tr>
            <th>ID</th>
            <td>{{ empleado.id }}</td>
        </tr>
        <tr>
            <th>Nombre</th>
            <td>{{ empleado.nombre }}</td>
        </tr>
        <tr>
            <th>Puesto</th>
            <td>{{ empleado.puesto }}</td>
        </tr>
        <tr>
            <th>Salario</th>
            <td>{{ empleado.salario }}</td>
        </tr>
        <tr>
            <th>Fecha de contratación</th>
            <td>{{ empleado.fecha_contratacion }}</td>
        </tr>
        <tr>
            <th>Concesionario</th>
            <td>{{ empleado.concesionario.nombre }}</td>
        </tr>
    </table>
    <br>
    <a href="{% url 'AlphaAutos:lista_empleados' %}" class="btn btn-secondary">Volver a la lista de empleados</a>
    <br>
{% else %}
    <p>No se encontró el empleado.</p>
{% endif %}
{% endblock %}
