{% load django_bootstrap5 %}

<tr>
    <td>{{ coche.id }}</td>
    <td>{{ coche.marca.nombre|upper }}</td>
    <td>{{ coche.modelo|title }}</td>
    <td>{{ coche.precio|floatformat:2 }} €</td>
    <td>{{ coche.concesionario.nombre }}</td>
    <td>
        {% if perms.AlphaAutos.view_coche %}
            <a class="btn btn-sm btn-outline-primary me-2 text-nowrap" href="{% url 'AlphaAutos:coche_detail' coche.id %}">Ver en detalle</a>
        {% endif %}
        {% if perms.AlphaAutos.change_coche %}
            <a class="btn btn-sm btn-outline-secondary text-nowrap" href="{% url 'AlphaAutos:editar_coche' coche.id %}">Editar</a>
        {% endif %}
        {% if perms.AlphaAutos.delete_coche %}
            <a class="btn btn-sm btn-outline-danger ms-2 text-nowrap" href="{% url 'AlphaAutos:eliminar_coche' coche.id %}" onclick="return confirm('¿Estás seguro de que deseas eliminar?');">Eliminar</a>
        {% endif %}
    </td>
</tr>
