{% extends "concesionario/base.html" %}
{% load static %}
{% block title %}Lista de Aseguradoras - AlphaAutos{% endblock %}

{% block cabecera %}
<h1>Lista de Aseguradoras</h1>
{% endblock %}

{% block content %}
<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>País</th>
            <th>Teléfono</th>
            <th>Web</th>
            <th>Seguros</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for aseguradora in aseguradoras %}
        <tr>
            <td>{{ aseguradora.id }}</td>
            <td>{{ aseguradora.nombre }}</td>
            <td>{{ aseguradora.pais }}</td>
            <td>{{ aseguradora.telefono }}</td>
            <td>{{ aseguradora.web }}</td>
            <td>
                {% for seguro in aseguradora.seguros.all %}
                    {{ seguro.tipo_seguro }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
            <td>
                {% if perms.AlphaAutos.view_aseguradora %}
                    <a class="btn btn-sm btn-outline-primary me-2 text-nowrap" href="{% url 'AlphaAutos:aseguradora_detail' aseguradora.id %}">Ver en detalle</a>
                {% endif %}
                {% if perms.AlphaAutos.change_aseguradora %}
                    <a class="btn btn-sm btn-outline-secondary text-nowrap" href="{% url 'AlphaAutos:editar_aseguradora' aseguradora.id %}">Editar</a>
                {% endif %}
                {% if perms.AlphaAutos.delete_aseguradora %}
                    <a class="btn btn-sm btn-outline-danger ms-2 text-nowrap" href="{% url 'AlphaAutos:eliminar_aseguradora' aseguradora.id %}" onclick="return confirm('¿Estás seguro de que deseas eliminar esta aseguradora?');">Eliminar</a>
                {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="7">No hay aseguradoras disponibles.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<a href="{% url 'AlphaAutos:index' %}" class="btn btn-secondary">Volver al Inicio</a>
<br>
{% endblock %}