{% extends "concesionario/base.html" %}
{% block title %}Lista de Aseguradoras - AlphaAutos{% endblock %}

{% block cabecera %}
<h1 class="text-center mt-3">Lista de Aseguradoras</h1>
{% endblock %}

{% block content %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>País</th>
            <th>Teléfono</th>
            <th>Web</th>
            <th>Seguros</th>
        </tr>
    </thead>
    <tbody>
        {% for aseguradora in aseguradoras %}
        <tr>
            <td>{{ aseguradora.id }}</td>
            <td>{{ aseguradora.nombre }}</td>
            <td>{{ aseguradora.pais }}</td>
            <td>{{ aseguradora.telefono }}</td>
            <td><a href="{{ aseguradora.web }}" target="_blank">{{ aseguradora.web }}</a></td>
            <td>
                {% for seguro in aseguradora.seguros.all %}
                    {{ seguro.tipo_seguro }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">No hay aseguradoras disponibles.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'AlphaAutos:index' %}" class="btn btn-secondary">Volver al Inicio</a>
{% endblock %}