{% extends 'concesionario/base.html' %}
{% block content %}
    <h1>Lista de Empleados</h1>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Puesto</th>
                <th>Salario</th>
                <th>Fecha de Contratación</th>
                <th>Concesionario</th>
            </tr>
        </thead>
        <tbody>
            {% for empleado in empleados %}
            <tr>
                <td>{{ empleado.nombre }}</td>
                <td>{{ empleado.puesto }}</td>
                <td>{{ empleado.salario }}</td>
                <td>{{ empleado.fecha_contratacion }}</td>
                <td>{{ empleado.concesionario.nombre }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'AlphaAutos:index' %}">Volver al inicio</a>
{% endblock %}
