{% load static %}

<header>
    <div class="logo">
        <img src="{% static 'concesionario/img/logo.png' %}" alt="Logo AlphaAutos" height="50">
    </div>
    <nav>
        <ul>
            <li><a href="{% url 'AlphaAutos:index' %}">Inicio</a></li>
            <li><a href="{% url 'AlphaAutos:coche_list' %}">Coches</a></li>
            <li><a href="{% url 'AlphaAutos:resumen_ventas' %}">Resumen Ventas</a></li>
            <li><a href="{% url 'AlphaAutos:lista_concesionarios' %}">Concesionarios</a></li>
            <li><a href="{% url 'AlphaAutos:lista_marcas' %}">Marcas</a></li>
            <li><a href="{% url 'AlphaAutos:lista_empleados' %}">Empleados</a></li>
        </ul>
    </nav>
</header>
