{% extends 'concesionario/base.html' %}

{% block title %}Último Cliente del Coche{% endblock %}

{% block cabecera %}
<h1>Último cliente que compró el coche</h1>
{% endblock %}

{% block content %}
{% if venta %}
    <p><strong>Coche:</strong> {{ venta.coche.marca.nombre|upper }} {{ venta.coche.modelo|title }}</p>
    <p><strong>Cliente:</strong> {{ venta.cliente.nombre|title }}</p>
    <p><strong>Fecha de venta:</strong> {{ venta.fecha_venta|date:"d/m/Y" }}</p>
    <p><strong>Precio final:</strong> {{ venta.precio_final|floatformat:2 }} €</p>
    <p><strong>Método de pago:</strong> {{ venta.metodo_pago }}</p>

    {% if venta.precio_final >= 25000 %}
        <p>La venta fue de gama media-alta.</p>
    {% else %}
        <p>La venta fue económica.</p>
    {% endif %}

{% else %}
    <p>Este coche no ha sido vendido todavía.</p>
{% endif %}
<br>
<p><a href="{% url 'AlphaAutos:index' %}">Volver al inicio</a></p>
{% endblock %}
