{% extends 'concesionario/base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %}Buscar Venta - AlphaAutos{% endblock %}

{% block cabecera %}
<h1 class="text-center mt-3">Buscar Venta</h1>
{% endblock %}

{% block content %}
<h3>Rellena el formulario para buscar ventas.</h3>
<form method="get" action="{% url 'AlphaAutos:buscar_ventas' %}" class="mt-4">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-primary">Buscar Ventas</button>
</form>
{% endblock %}
