{% extends 'concesionario/base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %}Crear Venta - AlphaAutos{% endblock %}

{% block cabecera %}
<h1 class="text-center mt-3">Crear Nueva Venta</h1>
{% endblock %}

{% block content %}
<h3>Rellena el formulario para registrar una nueva venta.</h3>
<form method="post" action="{% url 'AlphaAutos:crear_venta' %}" class="mt-4">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-primary">Registrar Venta</button>
</form>
{% endblock %}