{% extends 'concesionario/base.html' %}

{% block title %}Contraseña Actualizada{% endblock %}

{% block cabecera %}
<h1 class="text-center mt-3 text-success">¡Contraseña Cambiada!</h1>
{% endblock %}

{% block content %}
<div class="alert alert-success text-center" role="alert">
    <h4 class="alert-heading">Todo listo</h4>
    <p>Tu contraseña ha sido actualizada correctamente.</p>
    <hr>
    <p class="mb-0">
        <a href="{% url 'AlphaAutos:index' %}" class="btn btn-success">Volver al Inicio</a>
    </p>
</div>
{% endblock %}