{% extends 'concesionario/base.html' %}
{% load bootstrap5 %}
{% load bootstrap icons %}

{% block title %}Eliminar Aseguradora - AlphaAutos{% endblock %}

{% block cabecera %}
    {% load static %}
    <script type="text/javascript" src="{% static 'concesionario/js/script.js' %}"></script>
{% endblock %}

{% block content %}
<form action="{% url 'AlphaAutos:eliminar_aseguradora' aseguradora.id %}" method="post">
    {% csrf_token %}
    <button type="submit" onclick="return eliminar();" class="btn btn-danger">{% bs_icon "trash" %}</button>
</form>
{% endblock %}

