{% extends 'concesionario/base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% load bootstrap_icons %}

{% block title %}Buscar Coches - AlphaAutos{% endblock %}

{% block cabecera %}
<h1 class="text-center mt-3">Buscar Coches</h1>
{% endblock %}

{% block content %}
<form method="GET" action="{% url 'AlphaAutos:buscar_coches' %}" class="mt-4">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button class="btn btn-primary" type="submit">Buscar Coches</button>
</form>
{% endblock %}