{% extends 'concesionario/base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% load bootstrap_icons %}

{% block title %}Editar Coche - AlphaAutos{% endblock %}

{% block cabecera %}
<h1 class="text-center mt-3">Editar coche</h1>
{% endblock %}

{% block content %}
<h3>Rellena el formulario para editar el coche en la base de datos.</h3>

<form method="post" action="{% url 'AlphaAutos:editar_coche' coche.id %}" class="mt-4" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form formulario %}

    <button class="btn btn-primary" type="submit">Guardar Coche</button>
</form>

{% endblock %}

